<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/views/style.css">
</head>
<body>
  <h1>Home page</h1>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
    </ul>
  </nav>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi impedit debitis nemo explicabo! Alias porro vero veniam quis voluptate sit nam, voluptas doloribus expedita animi! Consequatur a nam corporis adipisci.</p>
</body>
</html>